venv/
env/
ENV/
.env/
.venv/
*.xlsx
__pycache__/

.ipynb_checkpoints/
*.ipynb_checkpoints
*.ipynb

.DS_Store
.env
.venv
secrets/
config.local.*
*.key
*.pem

.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.settings/