.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid; 
  place-items: center;
  width: 250px; 
  height: 100%; 
  background-color: #1C1C1E;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  position: fixed; /* Делаем сайдбар липким */
  top: 25%;
}

.profile-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #0A84FF;
  margin-bottom: 20px;
}

.sidebar-content h2 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
  color: #F5F5F7;
}

.sidebar-content p {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #A1A1A3;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  text-align: start;
}

.sidebar-content ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #D1D1D6;
}

.sidebar-content button {
  background-color: #0A84FF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar-content button:hover {
  background-color: #007AFF;
  transform: scale(1.05);
}

.sidebar-content button:active {
  transform: scale(0.98);
}

/* Социальные ссылки */
.social-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.social-links a {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
}

.social-links img {
  width: 24px;
  height: 24px;
}

/* Адаптивность */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto; /* Высота по содержимому на мобильных */
    padding: 40px 20px;
  }

  .sidebar-content {
    position: relative;
    top: auto;
  }
  .container-top {
    flex-direction: row;
    gap: 20px;
  }

  .container-name {
    align-self: center;
  }
}